<app-header [configs]="appHeaderConfig">
  <ion-segment
    #segment
    scrollable="scrollable"
    mode="md"
    color="primary"
    (ionChange)="cambioCategoria($event)"
  >
    <ion-segment-button
      *ngFor="let categoria of categorias"
      [value]="categoria"
    >
      <ion-label class="ion-text-capitalize">{{categoria}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</app-header>

<ion-content color="dark">
  <app-noticias [noticias]="noticias"></app-noticias>

  <ion-infinite-scroll
    threshold="150px"
    (ionInfinite)="loadData($event)"
    #infinite
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando información..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>